{% extends "base.html" %}
{% block title %}
  Создание курса
{% endblock %}
{% block style %}
  {% include "inc-style.html" %}
{% endblock %}
{% block header %}
    {% include "inc-header.html" %}
{% endblock %}
{% block site_content %}
  {% block sidebar %}
    {% include "inc-sidebar.html" %}
  {% endblock %}
  {% block page_content %}
      <div id="content">
        <div>
        <h1>Создание курса для категории "{{name}}"</h1>
          <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку курсов</button>
          </form>
        </div>
        <p style="padding-top: 15px"><span>&nbsp;</span><a href="/category-list/" class="btn_table">Назад</a>
            </p>
      </div>
  {% endblock %}
{% endblock %}
{% block footer %}
  {% include "inc-footer.html" %}
{% endblock %}