<div class="sidebar">
  <!-- insert your sidebar items here -->
  <h3>Последние новости</h3>
  <h4>Начало занятий перенесено</h4>
  <h5>24 марта 2025 года</h5>
    <p>Мы решили перенести начало наших занятий на 22 марта 3022 года. Приносим свои извинения. <br /><a href="#">Подробнее</a></p>
    <p></p>
    <h4>Добавлен новый курс</h4>
    <h5>22 марта 2022 года</h5>
    <p>Мы добавили новый продукт в список наших курсов. Выделите время ознакомиться с ним.<br /><a href="#">Подробнее</a></p>
    <h3>Полезные ссылки</h3>
      <ul>
        <li><a href="#">ссылка 1</a></li>
        <li><a href="#">ссылка 2</a></li>
        <li><a href="#">ссылка 3</a></li>
        <li><a href="#">ссылка 4</a></li>
      </ul>
    <h3>Поиск</h3>
    <form method="post" action="#" id="search_form">
      <p>
        <input class="search" type="text" name="search_field" value="Enter keywords....." />
        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search"/>
      </p>
    </form>
</div>