{% extends "base.html" %}
{% block title %}
	Школа поваров
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block header %}   
    {% include "inc-header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "inc-sidebar.html" %}
{% endblock %}

{% block page_content %}
		<div id="content">
            <!-- insert the page content here -->
            <h1>С этими блюдами вы будете готовы съесть даже салфетку</h1>
              <p>Для каждого повара существует своя кухня - то есть та, в которой он особенно силен. Не исключение и те повара, которые ненавидят готовить (о том, как такие люди становятся поварами, подробно написано <a href="http://creativecommons.org/licenses/by/3.0">здесь</a>). Более того, как показывает опыт, именно таким поварам нужно уделять особое внимание, дабы сократить число людей, которые становятся их жертвами. Как это сделать? Очень просто: нужно предложить им набор вкусных и необременительных в приготовлении рецептов. Именно этому посвящен данный ресурс...</p>
              <p>Максимально точно зафиксируйте дату и время начала обучения: <strong>{{datetime}}</strong> Это поможет вам отслеживать свой прогресс и грамотно формулировать цели обучения.</p>
              <p>Подробные сведения по истории кулинарного искусства можно получить <a href="http://www.html5webtemplates.co.uk">здесь</a>.</p>
              <p>Не упускайте возможность узнать о других полезных <a href="examples.html">образовательных программах</a>. Не забывайте, что обучение (точно так же, как и питание) не должно прекращаться в течение всего жизненного цикла человеческого организма.</p>
            <h2>Минимальные требования к слушателям курсов</h2>
              <p>В списке ниже вы увидите то, без чего обучение невозможно в принципе:</p>
              <ul>
                <li>Наличие потребности в еде.</li>
                <li>Наличие в доме хоть какой-то посуды.</li>
                <li>Способность усваивать хотя бы самую простую информацию.</li>
              </ul>
        </div>
{% endblock %}

{% block footer %} 
	{% include "inc-footer.html" %}
{% endblock %}